#root, .App {
  height: 100vh;
}

ul {
  list-style-type: none;
}

li:hover {
  color: lightskyblue;
  cursor: pointer;
}

li {
  padding: 5px;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid lightgray;
  cursor: pointer;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}